.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/img/Darren/background.jpg') no-repeat center;
    background-size: cover;
}

.registerFormContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainForm {
    position: relative;
    margin-top: 80px;
    padding: 20px;
    width: 360px;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 241, 214, .25);
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 30px;
}

.formTitle {
    font-size: 32px;
    letter-spacing: 3px;
    color: #65463E;
    font-weight: bold;
    margin-bottom: 30px;
}

.inputContainer,
.radioContainer {
    width: 85%;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.radioContainer {
    display: flex;
    justify-content: flex-start;
}

.inputField{
    width: 100%;
    height: 32px;
    border: none;
    background-color: transparent;
}

.inputField:focus {
  outline: none;
}

.radioField {
    display: flex;
}

.radioOptions {
    margin-right: 20px;
}

.linkContainer {
    width: 85%;
    text-align: right;
}

.registerIcons {
    font-size: 22px;
    color: rgba(101, 70, 62, 1);
    margin-right: 5px;
}

.hideAndShow{
    cursor: pointer;
}

.hideAndShow:hover {
    scale: 1.05;
}

.forgotPassword {
    font-size: 14px;
    text-decoration: none;
    position: relative;
    left: 0;
    color: black;
    transition: .1s;
    font-weight: 600;
}

.forgotPassword:hover {
   letter-spacing: 1px;
}

.submitButton {
    margin-top: 25px;
    width: 85%;
    height: 32px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    color: white;
    background-color:rgba(101, 70, 62, .75);
    border-radius: 20px;
    transition: .15s;
}

.submitButton:hover {
    scale: 1.05;
}

.errorMsgContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 82px;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 560;
}

.errorMsgContent {
    display: inline;
}

.grayText {
  color: rgba(0, 0, 0, .7);
}

.errorIcons {
    font-size: 24px;
    margin-right: 5px;
}

@media only screen and (max-width: 512px) {

    .mainForm {
        width: 80%;
        height: 500px;
    }

    .formTitle {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .forgotPassword {
        font-size: 13px;
    }

    .submitButton {
        height: 28px;
        font-size: 16px;
    }

    .radioOptions {
    margin-right: 10px;
}
}