.primary-green{
  color:rgba(193, 214, 161, 1);
}
.primary-light{
  color:rgba(210, 229, 208, 1);
}
.brown{
  color: rgba(101, 70, 62, 1);
}
.second-light{
  color:rgba(255, 241, 214, 1);
}
.gray{
  color:rgba(189, 189, 189, 1);
}
.pink{
  color:rgba(220, 186, 169, 1);
}

#root {
  /* Colors */
  --second-light:rgba(255, 241, 214, 1);
  --brand-color: rgba(220, 186, 169, 1);
  --black: rgba(101, 70, 62, 1);
  --white: hsl(0, 0%, 100%);
  --primary-light:rgba(210, 229, 208, 1);
  /* Fonts */
  --font-title: "Montserrat", sans-serif;
  --font-text: "Lato", sans-serif;
}


/* GLOBAL STYLES */

.A-right{
  position: relative;
  top: 90px;
  left: 20px;
}
.H2 {
  margin-top: 5px;
  font-size: 20px;
  font-family:"Noto Sans TC", sans-serif;
  color: hsl(0, 0%, 100%);
  line-height: 1.1;
}

.card-P {
  font-family:"Noto Sans TC", sans-serif;
  font-size: 12px;
  color: hsl(0, 0%, 100%);
  letter-spacing: 1px;
  padding-top:10px
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

/* A-card COMPONENT */


.A-card {
  display: grid;
  place-items: center;
  width: 90vw;
  max-width: 220px;
  height: 280px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  margin: 10px;
  margin-top: 20px;
}

.A-card > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.A-card__background {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.A-card__content {
  --flow-space: 0.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  height: 60%;
  padding: 5% 30px 31px 22px;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.3) 10%,
    hsl(0, 0%, 0%) 100%
  );
}

.A-card__content--container {
  --flow-space: 1.25rem;
}

.A-card__title {
  position: relative;
  width: fit-content;
  width: -moz-fit-content; /* Prefijo necesario para Firefox  */
  margin-top: -5px;
 
}

.A-card__title::after {
  content: "";
  position: absolute;
  height: 0.3125rem;
  width: calc(100% + 2rem);
  bottom: calc((1.25rem - 0.5rem) * -1);
  left: -1.50rem;
  background-color: rgb(216, 185, 171);
  border-radius: 0.15625rem;
}

.buttonteam{
  display: inline;
}

.A-card-button {
  margin-top: -10px;
  padding: 3px 10px;
  width: fit-content;
  width: -moz-fit-content; /* Prefijo necesario para Firefox  */
  font-variant: small-caps;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  background-color: rgba(220, 186, 169, 1);
  font-family: "Noto Sans TC", sans-serif;
  /* button改中文改字大小 */
  font-size: 16px;
  color: var(--black);
}

.pawicon {
  margin-top: -45px;
  padding-left: 140px;
  width: fit-content;
  width: -moz-fit-content; 
  font-variant: small-caps;
  font-weight: 900;
  border-radius: 10px;
  border: none;
  color:  rgba(220, 186, 169);
  font-family: "Noto Sans TC", sans-serif;
  font-size: 35px;
}

.A-card-button:focus {
  outline: 2px solid black;
  outline-offset: -5px;
}

@media (any-hover: hover) and (any-pointer: fine) {
  .A-card__content {
    transform: translateY(62%);
    transition: transform 500ms ease-out;
    transition-delay: 500ms;
  }

  .A-card__title::after {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 500ms ease-in, transform 200ms ease-out;
    transition-delay: 200ms;
    transform-origin: right;
  
  }

  .A-card__background {
    transition: transform 500ms ease-in;
  }

  .A-card__content--container > :not(.A-card__title),
  .A-card-button {
    opacity: 0;
    transition: transform 200ms ease-out, opacity 200ms ease-out;
  }

  .A-card__content--container > :not(.A-card__title),
   .pawicon {
    opacity: 0;
    transition: transform 200ms ease-out, opacity 200ms ease-out;
  }

  .A-card:hover,
  .A-card:focus-within {
    transform: scale(1.05);
    transition: transform 100ms ease-in;
  }

  .A-card:hover .A-card__content,
  .A-card:focus-within .A-card__content {
    transform: translateY(0);
    transition: transform 300ms ease-in;
  }

  .A-card:focus-within .A-card__content {
    transition-duration: 0ms;
  }

  .A-card:hover .A-card__background,
  .A-card:focus-within .A-card__background {
    transform: scale(1.3);
  }

  .A-card:hover .A-card__content--container > :not(.A-card__title),
  .A-card:hover .A-card-button ,
  .A-card:focus-within .A-card__content--container > :not(.A-card__title),
  .A-card:focus-within .A-card-button {
    opacity: 1;
    transition: opacity 300ms ease-in;
    transition-delay: 300ms;
  }
  .A-card:hover .A-card__content--container > :not(.A-card__title),
  .A-card:hover .pawicon,
  .A-card:focus-within .A-card__content--container > :not(.A-card__title),
  .A-card:focus-within .pawicon{
    opacity: 1;
    transition: opacity 300ms ease-in;
    transition-delay: 300ms;
  }

  .A-card:hover .A-card__title::after,
  .A-card:focus-within .A-card__title::after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
    transition: opacity 500ms ease-in, transform 500ms ease-in;
    transition-delay: 500ms;
  }
}

@media screen and (max-width: 850px) {


    .card-img {
      width: 100%;
    }
  
.A-card__background {
  border-radius: 10px ;
  /* margin-top: 5px; */
}
.A-right{
  position: relative;
  top: 90px;
  left: 0px;
}
}



@media (max-width: 495px) {
  .A-card {
    display: grid;
    place-items: center;
    width: 90vw;
    max-width: 220px;
    height: 280px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
    margin: 10px;
    margin-top: 20px;
  }
  
  .A-card > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  .A-card__background {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
    transition: none;
  }
  
  .A-card__content {
    --flow-space: 0.9375rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
    height: 60%;
    padding: 20% 10px 15px 15px;
    background: linear-gradient(
      180deg,
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 0.3) 10%,
      hsl(0, 0%, 0%) 100%
    );
    transform: none;
    transition: none;
  }

  .A-card__title::after {
    opacity: 1;
    transform: scaleX(1);
    transition: none;
  }


  .A-card__content--container > :not(.A-card__title),
  .A-card-button,
  .pawicon {
    opacity: 1;
    transition: none;
  }

  .A-card:hover,
  .A-card:focus-within {
    transform: none;
    transition: none;
  }

  .A-card:hover .A-card__content,
  .A-card:focus-within .A-card__content {
    transform: none;
    transition: none;
  }

  .A-card:hover .A-card__background,
  .A-card:focus-within .A-card__background {
    transform: none;
    transition: none;
  }

  .A-card:hover .A-card__content--container > :not(.A-card__title),
  .A-card:hover .A-card-button ,
  .A-card:hover .pawicon,
  .A-card:focus-within .A-card__content--container > :not(.A-card__title),
  .A-card:focus-within .A-card-button,
  .A-card:focus-within .pawicon {
    opacity: 1;
    transition: none;
  }

  .A-card:hover .A-card__title::after,
  .A-card:focus-within .A-card__title::after {
    opacity: 1;
    transform: scaleX(1);
    transition: none;
  }
}
