

.aboutUsContainer {
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutUsTitle {
  font-weight: bold;
  font-size: 36px;
  color: #C1D6A1;
}

.aboutUsSubtitle {
  position: relative;
  margin-bottom: 24px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.808);
}

.aboutUsSubtitle::after {
  content: "";
  position: absolute;
  bottom: -20px; /* 距離文本下方的距離 */
  left: 50%; /* 將左側位置設置為中間 */
  transform: translateX(-50%); /* 使用 transform 屬性將元素水平居中 */
  width: 66px; /* 调整线的长度 */
  height: 2px; /* 线的高度 */
  border-radius: 50px;
  background: rgb(193,214,161);
  background: linear-gradient(266deg, rgba(193,214,161,1) 0%, rgba(126,197,255,1) 100%);
}

.linkContainer {
  width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  margin-top: 50px;
  border-bottom: 1px solid rgb(207, 207, 207);
}


.linkContainer a {
  text-decoration: none;
  border: 1px solid #C1D6A1;
  border-radius: 35px;
  color: #C1D6A1;
  padding: 10px 25px;
  font-weight: bold;
  transition: .35s;
  letter-spacing: 3px;
}

.linkContainer a:hover {
  background-color: #C1D6A1;
  color: white;
}

.descSection {
  position: relative;
  width: 100%;
  margin: auto;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.aboutUsImage {
  width: 650px;
}

.descContainer {
  font-size: 16px;
  width: 700px;
  height: auto;
}

.descContent p{
  margin-bottom: 40px;
  line-height: 30px;
}

.descTitle {
  font-size: 32px;
  font-weight: bold;
  color: #C1D6A1;
  margin-bottom: 35px;
}

.descImgSection {
  width: 100%;
  display: flex;
  justify-content: center;
}

.descImgContainer {
  margin-top: 50px;
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.descImg {
  width: 23%;
}

 /* drop down */

 .toggle_btn_container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
 }

 .toggle_btn {
  display: none;
  position: relative;
  width: 100%;
  height: 40px;
  background-color: #87CEFA;
  border: none;
  letter-spacing: 8px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  border-radius: 8px; /* 點擊前的border-radius */
}

.toggle_btn.clicked {
  border-radius: 8px 8px 0 0; /* 點擊後的border-radius */
  transition: .2s;
}

 .fa-solid {
  position: absolute;
  right: 25px;
  top: 25%;
 }

 .dropdown_menu {
  display: none;
  position: relative;
  width: 100%;
  height: 0;
  background-color: white;
  backdrop-filter: blur(15px);
  overflow: hidden;
  transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275); /* 添加過渡效果 */
}

.dropdown_menu.open {
  height: 280px;
}

.dropdown_link_container {
  border-left: 1px solid #87cefa48;
  border-bottom: 1px solid #87cefa48;
  border-right: 1px solid #87cefa48;
  border-radius: 0 0 8px 8px;
  width: 100%;
  margin: auto;
  padding: 10px;
}

.dropdown_menu li {
  cursor: pointer;
  width: 96%;
  margin: 10px 0;
  margin-left: 2%;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid #C1D6A1;
  letter-spacing: 3px;
  font-weight: bolder;
  border-radius: 3px;
}

.dropdown_menu li:hover,
.dropdown_menu li:hover > a {
  color: white;
  background-color: #C1D6A1;
}

.dropdown_menu li a {
  text-decoration: none;
  color: #C1D6A1;
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.toggle_btn i {
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55); /* 添加 transform 屬性的過渡效果，使用 cubic-bezier 函数定義抖動曲線 */
}

.toggle_btn.clicked i {
  animation: shake 0.5s ease; /* 在點擊後使用抖動動畫 */
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

@media only screen and (max-width: 1365px) {
  .aboutUsImage {
    width: 500px;
  }
}

@media only screen and (max-width: 1211px) {
  .aboutUsImage {
    width: 350px;
    height: 270px;
  }
}

@media only screen and (max-width: 1060px) {

  .descSection {
    flex-wrap: wrap;
  }

  .aboutUsImage {
    width: 700px;
    height: 300px;
    margin-bottom: 50px;
  }

  .descContainer {
    width: 96%;
  }

  .linkContainer {
    justify-content: center;
  }

  .linkContainer a {
    transition: 0s;
    margin: 0 10px;
  }

  .descImgContainer {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .descImg {
    width: 23%;
    margin: 0 15px 15px 15px;
  }

}

@media only screen and (max-width: 768px) {

  .aboutUsContainer {
    margin-bottom: 50px;
  }

  .linkContainer {
    display: none;
  }

  .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
    width: unset;
  }

  .descImgContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .descImg {
    width: 40%;
    margin: 15px;
  }
}

@media only screen and (max-width: 537px) {
  .aboutUsImage {
    width: 100%;
    height: auto;
  }

  .descTitle {
    font-size: 30px;
  }

  .descContent p{
    margin-bottom: 30px;
  }
}