

  .melin-concept-section2 {
    background-color: var(--bs-primary);
  }

  .melin-concept-section1-img-cut {
    height: 600px;
    overflow: hidden;
  }

    .melin-concept-section3-img-cut {
      width: 320px;
      height: 200px;
    }

.melin-concept-section3-card-img{
width: 300px;
height: 200px;
}



.timeline-container .vertical-scrollable-timeline .list-progress {
  width: 8px;
  height: 87%;
  background-color: var(--bs-primary);
  position: absolute;
  left: 52px;
  top: 0;
  overflow: hidden;
  
}

.melin-concept-section1-line::before {
    content: "";
    border: solid 2px;
    margin-right: 10px;
}

.melin-s2-bg {
  position: relative;
  overflow: hidden; /* 确保容器可以隐藏超出部分 */
}

.melin-s2-bg::before{
  content: "";
  position: absolute;
  bottom: 0;
left: 0;
  width: 100%;
  height: 100px; /* 控制波浪的高度 */
  background-color: #ffffff; /* 波浪的颜色 */
  clip-path: polygon(100% 100%, 0% 100% , 0.00% 73.33%, 1.00% 73.27%, 2.00% 73.07%, 3.00% 72.74%, 4.00% 72.28%, 5.00% 71.69%, 6.00% 70.99%, 7.00% 70.16%, 8.00% 69.22%, 9.00% 68.16%, 10.00% 67.01%, 11.00% 65.76%, 12.00% 64.42%, 13.00% 62.99%, 14.00% 61.50%, 15.00% 59.93%, 16.00% 58.32%, 17.00% 56.65%, 18.00% 54.95%, 19.00% 53.22%, 20.00% 51.47%, 21.00% 49.71%, 22.00% 47.95%, 23.00% 46.21%, 24.00% 44.48%, 25.00% 42.79%, 26.00% 41.14%, 27.00% 39.54%, 28.00% 38.00%, 29.00% 36.52%, 30.00% 35.13%, 31.00% 33.81%, 32.00% 32.59%, 33.00% 31.47%, 34.00% 30.46%, 35.00% 29.55%, 36.00% 28.76%, 37.00% 28.10%, 38.00% 27.55%, 39.00% 27.14%, 40.00% 26.85%, 41.00% 26.70%, 42.00% 26.67%, 43.00% 26.78%, 44.00% 27.03%, 45.00% 27.40%, 46.00% 27.90%, 47.00% 28.53%, 48.00% 29.28%, 49.00% 30.14%, 50.00% 31.12%, 51.00% 32.21%, 52.00% 33.40%, 53.00% 34.68%, 54.00% 36.05%, 55.00% 37.50%, 56.00% 39.02%, 57.00% 40.60%, 58.00% 42.23%, 59.00% 43.91%, 60.00% 45.63%, 61.00% 47.37%, 62.00% 49.12%, 63.00% 50.88%, 64.00% 52.63%, 65.00% 54.37%, 66.00% 56.09%, 67.00% 57.77%, 68.00% 59.40%, 69.00% 60.98%, 70.00% 62.50%, 71.00% 63.95%, 72.00% 65.32%, 73.00% 66.60%, 74.00% 67.79%, 75.00% 68.88%, 76.00% 69.86%, 77.00% 70.72%, 78.00% 71.47%, 79.00% 72.10%, 80.00% 72.60%, 81.00% 72.97%, 82.00% 73.22%, 83.00% 73.33%, 84.00% 73.30%, 85.00% 73.15%, 86.00% 72.86%, 87.00% 72.45%, 88.00% 71.90%, 89.00% 71.24%, 90.00% 70.45%, 91.00% 69.54%, 92.00% 68.53%, 93.00% 67.41%, 94.00% 66.19%, 95.00% 64.87%, 96.00% 63.48%, 97.00% 62.00%, 98.00% 60.46%, 99.00% 58.86%, 100.00% 57.21%);
}
.melin-s2-bg::after{
  content: "";
  position: absolute;
  top: 0;
left: 0;
  width: 100%;
  height: 100px; /* 控制波浪的高度 */
  background-color: #ffffff; /* 波浪的颜色 */
  clip-path: polygon(100% 0%, 0% 0% , 0.00% 73.33%, 1.00% 73.27%, 2.00% 73.07%, 3.00% 72.74%, 4.00% 72.28%, 5.00% 71.69%, 6.00% 70.99%, 7.00% 70.16%, 8.00% 69.22%, 9.00% 68.16%, 10.00% 67.01%, 11.00% 65.76%, 12.00% 64.42%, 13.00% 62.99%, 14.00% 61.50%, 15.00% 59.93%, 16.00% 58.32%, 17.00% 56.65%, 18.00% 54.95%, 19.00% 53.22%, 20.00% 51.47%, 21.00% 49.71%, 22.00% 47.95%, 23.00% 46.21%, 24.00% 44.48%, 25.00% 42.79%, 26.00% 41.14%, 27.00% 39.54%, 28.00% 38.00%, 29.00% 36.52%, 30.00% 35.13%, 31.00% 33.81%, 32.00% 32.59%, 33.00% 31.47%, 34.00% 30.46%, 35.00% 29.55%, 36.00% 28.76%, 37.00% 28.10%, 38.00% 27.55%, 39.00% 27.14%, 40.00% 26.85%, 41.00% 26.70%, 42.00% 26.67%, 43.00% 26.78%, 44.00% 27.03%, 45.00% 27.40%, 46.00% 27.90%, 47.00% 28.53%, 48.00% 29.28%, 49.00% 30.14%, 50.00% 31.12%, 51.00% 32.21%, 52.00% 33.40%, 53.00% 34.68%, 54.00% 36.05%, 55.00% 37.50%, 56.00% 39.02%, 57.00% 40.60%, 58.00% 42.23%, 59.00% 43.91%, 60.00% 45.63%, 61.00% 47.37%, 62.00% 49.12%, 63.00% 50.88%, 64.00% 52.63%, 65.00% 54.37%, 66.00% 56.09%, 67.00% 57.77%, 68.00% 59.40%, 69.00% 60.98%, 70.00% 62.50%, 71.00% 63.95%, 72.00% 65.32%, 73.00% 66.60%, 74.00% 67.79%, 75.00% 68.88%, 76.00% 69.86%, 77.00% 70.72%, 78.00% 71.47%, 79.00% 72.10%, 80.00% 72.60%, 81.00% 72.97%, 82.00% 73.22%, 83.00% 73.33%, 84.00% 73.30%, 85.00% 73.15%, 86.00% 72.86%, 87.00% 72.45%, 88.00% 71.90%, 89.00% 71.24%, 90.00% 70.45%, 91.00% 69.54%, 92.00% 68.53%, 93.00% 67.41%, 94.00% 66.19%, 95.00% 64.87%, 96.00% 63.48%, 97.00% 62.00%, 98.00% 60.46%, 99.00% 58.86%, 100.00% 57.21%);
}

.mt{
  margin-top: 120px;
}

.bg-img{background-image: url("../../public/img/concept/bg-cnd.png");}

// .bg-end{background-image: url('../../public/img/concept/bg-end.png');
// ;}