@charset "UTF-8";
.melin-concept-section2 {
  background-color: var(--bs-primary);
}

.melin-concept-section1-img-cut {
  height: 600px;
  overflow: hidden;
}

.melin-concept-section3-img-cut {
  width: 320px;
  height: 200px;
}

.melin-concept-section3-card-img {
  width: 300px;
  height: 200px;
}

.timeline-container .vertical-scrollable-timeline .list-progress {
  width: 8px;
  height: 87%;
  background-color: var(--bs-primary);
  position: absolute;
  left: 52px;
  top: 0;
  overflow: hidden;
}

.melin-concept-section1-line::before {
  content: "";
  border: solid 2px;
  margin-right: 10px;
}

.melin-s2-bg {
  position: relative;
  overflow: hidden; /* 确保容器可以隐藏超出部分 */
}

.melin-s2-bg::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px; /* 控制波浪的高度 */
  background-color: #ffffff; /* 波浪的颜色 */
  -webkit-clip-path: polygon(100% 100%, 0% 100%, 0% 73.33%, 1% 73.27%, 2% 73.07%, 3% 72.74%, 4% 72.28%, 5% 71.69%, 6% 70.99%, 7% 70.16%, 8% 69.22%, 9% 68.16%, 10% 67.01%, 11% 65.76%, 12% 64.42%, 13% 62.99%, 14% 61.5%, 15% 59.93%, 16% 58.32%, 17% 56.65%, 18% 54.95%, 19% 53.22%, 20% 51.47%, 21% 49.71%, 22% 47.95%, 23% 46.21%, 24% 44.48%, 25% 42.79%, 26% 41.14%, 27% 39.54%, 28% 38%, 29% 36.52%, 30% 35.13%, 31% 33.81%, 32% 32.59%, 33% 31.47%, 34% 30.46%, 35% 29.55%, 36% 28.76%, 37% 28.1%, 38% 27.55%, 39% 27.14%, 40% 26.85%, 41% 26.7%, 42% 26.67%, 43% 26.78%, 44% 27.03%, 45% 27.4%, 46% 27.9%, 47% 28.53%, 48% 29.28%, 49% 30.14%, 50% 31.12%, 51% 32.21%, 52% 33.4%, 53% 34.68%, 54% 36.05%, 55% 37.5%, 56% 39.02%, 57% 40.6%, 58% 42.23%, 59% 43.91%, 60% 45.63%, 61% 47.37%, 62% 49.12%, 63% 50.88%, 64% 52.63%, 65% 54.37%, 66% 56.09%, 67% 57.77%, 68% 59.4%, 69% 60.98%, 70% 62.5%, 71% 63.95%, 72% 65.32%, 73% 66.6%, 74% 67.79%, 75% 68.88%, 76% 69.86%, 77% 70.72%, 78% 71.47%, 79% 72.1%, 80% 72.6%, 81% 72.97%, 82% 73.22%, 83% 73.33%, 84% 73.3%, 85% 73.15%, 86% 72.86%, 87% 72.45%, 88% 71.9%, 89% 71.24%, 90% 70.45%, 91% 69.54%, 92% 68.53%, 93% 67.41%, 94% 66.19%, 95% 64.87%, 96% 63.48%, 97% 62%, 98% 60.46%, 99% 58.86%, 100% 57.21%);
          clip-path: polygon(100% 100%, 0% 100%, 0% 73.33%, 1% 73.27%, 2% 73.07%, 3% 72.74%, 4% 72.28%, 5% 71.69%, 6% 70.99%, 7% 70.16%, 8% 69.22%, 9% 68.16%, 10% 67.01%, 11% 65.76%, 12% 64.42%, 13% 62.99%, 14% 61.5%, 15% 59.93%, 16% 58.32%, 17% 56.65%, 18% 54.95%, 19% 53.22%, 20% 51.47%, 21% 49.71%, 22% 47.95%, 23% 46.21%, 24% 44.48%, 25% 42.79%, 26% 41.14%, 27% 39.54%, 28% 38%, 29% 36.52%, 30% 35.13%, 31% 33.81%, 32% 32.59%, 33% 31.47%, 34% 30.46%, 35% 29.55%, 36% 28.76%, 37% 28.1%, 38% 27.55%, 39% 27.14%, 40% 26.85%, 41% 26.7%, 42% 26.67%, 43% 26.78%, 44% 27.03%, 45% 27.4%, 46% 27.9%, 47% 28.53%, 48% 29.28%, 49% 30.14%, 50% 31.12%, 51% 32.21%, 52% 33.4%, 53% 34.68%, 54% 36.05%, 55% 37.5%, 56% 39.02%, 57% 40.6%, 58% 42.23%, 59% 43.91%, 60% 45.63%, 61% 47.37%, 62% 49.12%, 63% 50.88%, 64% 52.63%, 65% 54.37%, 66% 56.09%, 67% 57.77%, 68% 59.4%, 69% 60.98%, 70% 62.5%, 71% 63.95%, 72% 65.32%, 73% 66.6%, 74% 67.79%, 75% 68.88%, 76% 69.86%, 77% 70.72%, 78% 71.47%, 79% 72.1%, 80% 72.6%, 81% 72.97%, 82% 73.22%, 83% 73.33%, 84% 73.3%, 85% 73.15%, 86% 72.86%, 87% 72.45%, 88% 71.9%, 89% 71.24%, 90% 70.45%, 91% 69.54%, 92% 68.53%, 93% 67.41%, 94% 66.19%, 95% 64.87%, 96% 63.48%, 97% 62%, 98% 60.46%, 99% 58.86%, 100% 57.21%);
}/*# sourceMappingURL=concept.module.css.map */

