.progress_container {
  max-width: 1000px; /* 或根據設計調整最大寬度 */
  align-items: center;
  position: relative;
  padding: 0 10px; /* 為圓點間隔提供空間 */
  margin-top: 150px;
  margin-bottom: 80px;
  
}
.status_bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.status {
  margin: 0 10px;
  flex-grow: 1; /* 使每個狀態區塊有相同的靈活比例 */
  text-align: center; /* 文字置中 */
  padding: 5px;
  background-color: #d3d3d3;
  color: white;
  border-radius: 5px;
  box-sizing: border-box; /* 邊框和內距不會增加寬度 */
}

.status.active {
  background-color: #4CAF50; /* 啟用狀態的顏色 */
}




/* 媒體查詢以適應不同屏幕尺寸 */
@media screen and (max-width: 768px) {
  .progress_container {
    padding: 10px;
  }

  .status {
    padding: 3px;
    font-size: 0.8em; /* 在小屏幕上縮小字體大小 */
  }
}

@media screen and (max-width: 480px) {
  .status_bar {
    flex-direction: column; /* 在非常小的屏幕上疊起來 */
    align-items: center; /* 水平居中 */
  }

  .status:not(:last-child) {
    margin-bottom: 10px; /* 為疊起來的狀態區塊添加底部邊距 */
  }
}


.checkout_section {
  border-top: 1px solid #ccc;
  padding-top: 1rem;
}



/* 在 styles.css 中 */

.img_fluid {
  width: 80px; /* 調整成合適的圖片大小 */
  height: auto;
}

/* 確保 input-group 不會超出它應有的最大寬度 */
.input_group {
  flex-wrap: nowrap; /* 防止元素換行 */
}

/* 針對較小螢幕的樣式 */
@media (max-width: 576px) {
  .input_group {
      width: 100%; /* 小螢幕上寬度為自動 */
  }
  .input_group .btn,
  .input_group .form_control {
      flex: 1; /* 按鈕和輸入框彈性佔滿可用空間 */
  }
  .input_group .form_control {
      max-width: none; /* 移除最大寬度限制 */
  }
}

/* 針對中等螢幕的樣式 */
@media (min-width: 577px) and (max-width: 768px) {
  .input_group {
      width: 80px; /* 中螢幕上寬度為自動 */
  }
  .input_group .btn,
  .input_group .form_control {
      flex: 1; /* 按鈕和輸入框彈性佔滿可用空間 */
  }
}

/* 針對較大螢幕的樣式 */
@media (min-width: 769px) {
  .input_group {
      width: none; /* 大螢幕上固定寬度 */     
  }
  .input_group .btn,
  .input_group .form_control {
      flex: 1; /* 按鈕和輸入框彈性佔滿可用空間 */
  }
}


.form_check_input {
  margin-top: 0; /* 調整勾選框至垂直中心 */
  margin-left: 0; /* 對於 RTL 支援或對齊需求的調整 */
}

/* 自定義樣式 */
.form_control {
  border-radius: 0.5rem; /* 圓角邊框 */
  border: 1px solid #65463E; /* 邊框顏色 */
}

.btn_outline_primary {
  border-radius: 0.5rem; /* 圓角邊框 */
  color: #fff; /* 文字顏色 */
  border-color: #65463E; /* 邊框顏色 */
  background-color: #DCBAA9; /* 透明背景 */
}

.btn_outline_primary:hover {
  color: #fff; /* 滑鼠懸停時的文字顏色 */
  background-color: #D2E5D0; /* 滑鼠懸停時的背景顏色 */
  border-color: #D2E5D0; /* 滑鼠懸停時的邊框顏色 */
}

/* 調整按鈕和輸入框的寬度以形成長條效果 */
.form_control, .btn {
  width: 100%; /* 滿寬度 */
}

/* 可以加入媒體查詢以針對不同屏幕寬度調整樣式 */
@media (max-width: 576px) {
  .form_control, .btn {
      width: auto; /* 在小屏幕設備上，可能希望寬度自適應 */
  }
}

/* 適用於所有設備的樣式 */
.btn_primary {
  background-color: #65463E; /* 設定主要按鈕顏色 */
  border-color: #65463E; /* 設定主要按鈕邊框顏色 */
}

.btn_outline_secondary {
  border-color: #D2E5D0; /* 設定次要按鈕邊框顏色 */
  color: #fff; /* 設定次要按鈕文字顏色 */
  background-color: #DCBAA9;
}

/* 調整小屏幕上的樣式 */
@media (max-width: 768px) {
  /* 輸入框和按鈕在小屏幕上佔滿整行 */
  .input_group, .btn {
      width: 100%;
  }
}



.timeline {
  display: flex;
    justify-content: center; /* 這會在水平方向上置中所有子元素 */
}
.timeline .active,
.timeline .inactive,
.timeline .start,
.timeline .inactive_start {
  height: 0.5rem;
  float: left;
  position: relative;
}
.timeline .active {
  background: #008cba;
}
.timeline .inactive {
  background: #eee;
}
.timeline .start,
.timeline .inactive_start {
  height: 1rem;
  width: 1rem;
  position: absolute;
  right: -0.625rem;
  border-radius: 50%;
  top: -0.3125rem;
  z-index: 5;
}
.timeline .start {
  background: darken(#008cba, 10);
}
.timeline .inactive_start {
  background: darken(#eee, 10);
}
.timeline .start span,
.timeline .inactive_start span {
  position: absolute;
  font-size: 0.8rem;
  width: 200px;
  right: -90px;
  top: 20px;
  text-align: center;
}

/* 單價列靠左對齊 */
.table th:nth-child(3),
.table td:nth-child(3) {
  text-align: center;
  padding-left: 30px; /* 或您希望的任何間距 */
}

/* 小計列靠左對齊 */
.table th:nth-child(5),
.table td:nth-child(5) {
  text-align: center;
  padding-left: 15px; /* 或您希望的任何間距 */
}

/* 操作列靠右對齊 */
.table th:last-child,
.table td:last-child {
  text-align: center;
  padding-right: 10px; /* 或您希望的任何間距 */
}